
	*{
	margin:0%;
	padding:0%;
}

.cabecalho-secao__divisao{
	padding:2%;
	font-size:1.5rem;
}

.cabecalho-imagem__divisao{
	padding:5% 0% 15% 2%;
	display:flex;
	justify-content:center;
	align-items:center;
	gap:2%;
	display:grid;
	grid-template-columns:30% 30%;
}

.divisao-texto{
	display:flex;
	flex-direction:column;
	gap:10%;
}

.apresentacao-posicao{
	display:flex;
	justify-content: center;
	align-items: center;
}

.apresentacao-divisao{
	display:flex;
	justify-content:center;
	align-items:center;
	display:grid;
	grid-template-columns:43% 43%;
}

.apresentacao-divisao__primeiro{
	display:flex;
	flex-direction:column;
	text-align:center;
	align-items:center;
	gap:2%;
	margin:6%;
	font-size:1.3rem;
	
}

.apresentacao-divisao__segundo{
	padding:10%;
	display:flex;
	flex-direction:column;
	text-align:center;
	align-items:center;
	gap: 12% 2%;
	font-size:1.3rem;
}

.rodape-divisao{
	display:flex;
	flex-direction:column;
	text-align:center;
	align-items:center;
	padding:5%;
	gap:2%;
}